<table border="1" width="100%">
    <tr>
      <td width="10%">
        <img src="/assets/Move-header.jpg" style="margin-top: 25px;" width="100%" height="75%" />
        <h3>Team Report</h3>
      </td>
      <td width="90%">
        Logged in as judge: <%= session[:user_name] %>
      </td>
    </tr>

    <tr>
    <td width="10%">
      <%= render :partial => '/links', :object => @teams %>
    </td>

    <td width="90%">
    <table>
    <tr>
    <td>
    <table class="report" border="1">
    <% if !@sortedteams.blank? %>
    <tr>
        <th><%= sortable "name" %></th>
        <th>Members</th>
        <th>Description</th>
        <th>Summary</th>
    </tr>
        <% @sortedteams.each do |rec| %>
        <tr>

          <td>
            <%= rec.name %>
          </td>

          <td>
          <% if !rec.members.nil? %>
            <%= rec.members %>
          <% else %>
            <%= '-' %>
          <% end %>
          </td>

          <td>
            <% if !rec.description.nil? %>
                <%= rec.description %>
            <% else %>
                <%= '-' %>
            <% end %>
          </td>

          <td>
            <% if !rec.summary.nil? %>
                <%= rec.summary %>
            <% else %>
                <%= '-' %>
            <% end %>
          </td>

        </tr>
        <% end %>

    <% else %>
    <tr>
        <td>Team(s) report unavailable.</td>
    </tr>
    <% end %>
    </table>

    <hr/>

    <p><b>Judges Ratings - Averaged out</b></p>

    <table class="judge" border="1">
      <tr>
          <table border="1">
            <th>Team</th>

            <% if !Category.first.nil? %>
                <th>Category 1 (<%= Category.first.name %>)</th>
            <% end %>

            <% if !Category.second.nil? %>
                <th>Category 2 (<%= Category.second.name %>)</th>
            <% end %>

            <% if !Category.third.nil? %>
                <th>Category 3 (<%= Category.third.name %>)</th>
            <% end %>

            <% if !Category.fourth.nil? %>
                <th>Category 4 (<%= Category.fourth.name %>)</th>
            <% end %>

            <% if !Category.fifth.nil? %>
                <th>Category 5 (<%= Category.fifth.name %>)</th>
            <% end %>

            <th>Overall</th>

            <th>Comment</th>

            <% Team.all.each do |trec| %>
                <tr>
                  <td><%= trec.name %></td>
                  <% Rating.all.each do |rec| %>
                      <% if trec.id.eql?(rec.tid) %>
                          <% if !rec.jid.nil? %>

                              <% if !rec.cat1.nil? %>
                                  <% @cat1rating = @cat1rating + rec.cat1.to_i %>
                                  <% @cat1users = @cat1users + 1 %>
                              <% end %>

                              <% if !rec.cat2.nil? %>
                                  <% @cat2rating = @cat2rating + rec.cat2.to_i %>
                                  <% @cat2users = @cat2users + 1 %>
                              <% end %>

                              <% if !rec.cat3.nil? %>
                                  <% @cat3rating = @cat3rating + rec.cat3.to_i %>
                                  <% @cat3users = @cat3users + 1 %>
                              <% end %>

                              <% if !rec.cat4.nil? %>
                                  <% @cat4rating = @cat4rating + rec.cat4.to_i %>
                                  <% @cat4users = @cat4users + 1 %>
                              <% end %>

                              <% if !rec.cat5.nil? %>
                                  <% @cat5rating = @cat5rating + rec.cat5.to_i %>
                                  <% @cat5users = @cat5users + 1 %>
                              <% end %>

                              <% if !rec.overall.nil? %>
                                  <% @overallrating = @overallrating + rec.overall.to_i %>
                                  <% @overallusers = @overallusers + 1 %>
                              <% end %>

                          <% end %>
                      <% end %>
                  <% end %>

                  <% if !Category.first.nil? %>
                      <td>
                        <% if !@cat1users.eql?(0) %>
                            <%= @cat1rating/@cat1users %>
                        <% else %>
                            Not Available
                        <% end %>
                      </td>
                  <% end %>

                  <% if !Category.second.nil? %>
                      <td>
                        <% if !@cat2users.eql?(0) %>
                            <%= @cat2rating/@cat2users %>
                        <% else %>
                            Not Available
                        <% end %>
                      </td>
                  <% end %>

                  <% if !Category.third.nil? %>
                      <td>
                        <% if !@cat3users.eql?(0) %>
                            <%= @cat3rating/@cat3users %>
                        <% else %>
                            Not Available
                        <% end %>
                      </td>
                  <% end %>

                  <% if !Category.fourth.nil? %>
                      <td>
                        <% if !@cat4users.eql?(0) %>
                            <%= @cat4rating/@cat4users %>
                        <% else %>
                            Not Available
                        <% end %>
                      </td>
                  <% end %>

                  <% if !Category.fifth.nil? %>
                      <td>
                        <% if !@cat5users.eql?(0) %>
                            <%= @cat5rating/@cat5users %>
                        <% else %>
                            Not Available
                        <% end %>
                      </td>
                  <% end %>

                  <td>
                    <% if !@overallusers.eql?(0) %>
                        <%= @overallrating/@overallusers %>
                    <% else %>
                        Not Available
                    <% end %>
                  </td>

                  <% @cat1rating = @cat2rating = @cat3rating = @cat4rating = @cat5rating = @overallrating = 0 %>
                  <% @cat1users = @cat2users = @cat3users = @cat4users = @cat5users = @overallusers = 0 %>

                  <td>
                    <table border="1">
                      <tr>
                        <th>Team</th><th>Judge</th><th>Comments</th>
                      </tr>

                      <% @teams.each do |t| %>
                          <tr>
                            <td>
                              <%= t.name %>
                            </td>
                            <td colspan="2">
                              <table border="1">
                                <% @ratings.each do |r| %>
                                    <% if t.id.eql?(r.tid) %>
                                        <% if !r.jid.nil? && !r.comment.nil? %>
                                            <tr>
                                              <td><%= Judge.all.find(r.jid).name %></td>
                                              <td><%= r.comment %></td>
                                            </tr>
                                        <% end %>
                                    <% end %>
                                <% end %>
                              </table>
                            </td>
                          </tr>
                      <% end %>
                    </table>
                  </td>

                </tr>
            <% end %>
          </table>
      </tr>
    </table>

    <hr/>

    <p><b>Crowd Ratings - Averaged out</b></p>

    <table border="1">
        <tr>
        <table border="1">
        <th>Team</th>

        <% if !Category.first.nil? %>
            <th>Category 1 (<%= Category.first.name %>)</th>
        <% end %>

        <% if !Category.second.nil? %>
            <th>Category 2 (<%= Category.second.name %>)</th>
        <% end %>

        <% if !Category.third.nil? %>
            <th>Category 3 (<%= Category.third.name %>)</th>
        <% end %>

        <% if !Category.fourth.nil? %>
            <th>Category 4 (<%= Category.fourth.name %>)</th>
        <% end %>

        <% if !Category.fifth.nil? %>
            <th>Category 5 (<%= Category.fifth.name %>)</th>
        <% end %>

        <th>Overall</th>

        <% Team.all.each do |trec| %>
            <tr>
              <td><%= trec.name %></td>
              <% Rating.all.each do |rec| %>
                  <% if trec.id.eql?(rec.tid) %>
                      <% if rec.jid.nil? %>

                          <% if !rec.cat1.nil? %>
                              <% @cat1rating = @cat1rating + rec.cat1.to_i %>
                              <% @cat1users = @cat1users + 1 %>
                          <% end %>

                          <% if !rec.cat2.nil? %>
                              <% @cat2rating = @cat2rating + rec.cat2.to_i %>
                              <% @cat2users = @cat2users + 1 %>
                          <% end %>

                          <% if !rec.cat3.nil? %>
                              <% @cat3rating = @cat3rating + rec.cat3.to_i %>
                              <% @cat3users = @cat3users + 1 %>
                          <% end %>

                          <% if !rec.cat4.nil? %>
                              <% @cat4rating = @cat4rating + rec.cat4.to_i %>
                              <% @cat4users = @cat4users + 1 %>
                          <% end %>

                          <% if !rec.cat5.nil? %>
                              <% @cat5rating = @cat5rating + rec.cat5.to_i %>
                              <% @cat5users = @cat5users + 1 %>
                          <% end %>

                          <% if !rec.overall.nil? %>
                              <% @overallrating = @overallrating + rec.overall.to_i %>
                              <% @overallusers = @overallusers + 1 %>
                          <% end %>

                      <% end %>
                  <% end %>
              <% end %>

              <% if !Category.first.nil? %>
                  <td>
                    <% if !@cat1users.eql?(0) %>
                        <%= @cat1rating/@cat1users %>
                    <% else %>
                        Not Available
                    <% end %>
                  </td>
              <% end %>

              <% if !Category.second.nil? %>
                  <td>
                    <% if !@cat2users.eql?(0) %>
                        <%= @cat2rating/@cat2users %>
                    <% else %>
                        Not Available
                    <% end %>
                  </td>
              <% end %>

              <% if !Category.third.nil? %>
                  <td>
                    <% if !@cat3users.eql?(0) %>
                        <%= @cat3rating/@cat3users %>
                    <% else %>
                        Not Available
                    <% end %>
                  </td>
              <% end %>

              <% if !Category.fourth.nil? %>
                  <td>
                    <% if !@cat4users.eql?(0) %>
                        <%= @cat4rating/@cat4users %>
                    <% else %>
                        Not Available
                    <% end %>
                  </td>
              <% end %>

              <% if !Category.fifth.nil? %>
                  <td>
                    <% if !@cat5users.eql?(0) %>
                        <%= @cat5rating/@cat5users %>
                    <% else %>
                        Not Available
                    <% end %>
                  </td>
              <% end %>

              <td>
                <% if !@overallusers.eql?(0) %>
                    <%= @overallrating/@overallusers %>
                <% else %>
                    Not Available
                <% end %>
              </td>

              <% @cat1rating = @cat2rating = @cat3rating = @cat4rating = @cat5rating = @overallrating = 0 %>
              <% @cat1users = @cat2users = @cat3users = @cat4users = @cat5users = @overallusers = 0 %>
            </tr>
        <% end %>
        </table>
        </tr>
    </table>

    </td>
    </tr>
    </table>
    </td>
    </tr>

    <% if !session[:user_id].nil? %>
    <tr>
      <td width="10%">
        <%= link_to 'Team Report', :controller => 'rating', :action => 'report'  %>
      </td>
      <td width="90%">
      </td>
    </tr>
    <% end %>

    <% if !session[:user_id].nil? %>
        <tr>
          <td width="10%">
            <%= link_to 'Logout', {:controller => 'home', :action => 'logout'} %>
          </td>
          <td width="90%"></td>
        </tr>
    <% end %>

</table>



