<table border="0" width="100%" cellpadding="0" cellspacing="0">
    <tr>
      <td width="10%">
        <img src="/assets/logo.png" />
      </td>
      <td class="judge"><table border="0" cellpadding="0" cellspacing="0"><tr><td>
        <% if session[:user_id].nil? %>
            <%= link_to 'Login as Judge', {:controller => 'home', :action => 'index'} %>
        <% else %>
            <img src="/assets/Login_icon.png" style="padding-left: 15px;" alt="Logged in as judge <%= session[:user_name] %>" title="Logged in as judge <%= session[:user_name] %>" />
        <% end %>
      </td>
        </tr>
        <% if !session[:user_id].nil? %>
            <tr>
              <td>
                <%= link_to 'Logout', {:controller => 'home', :action => 'logout'} %>
              </td>

            </tr>
        <% end %>
        </table>
      </td>
    </tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
    <td width="15%" valign="top" style="background-color: #ffffff; height: 500px;">
      <%= render :partial => '/links', :object => @teams %>
      <% if !session[:user_id].nil? %>
          <table width="100%" cellspacing="0" cellpadding="0" border="0" style="margin-top: 10px; border-top: 3px solid #313845;">
            <br>
            <tr>

              <td style="background-color: #999999; color:#ffffff;">
                <%= link_to 'Team Report', :controller => 'rating', :action => 'report'  %>
              </td>

            </tr>
          </table>
      <% end %>
    </td>

    <td width="85%" style="background-color: #ffffff; color:#313845;">
    <table>
    <tr>
    <td>
    <table class="report" border="1" cellspacing="0" cellpadding="5">
    <% if !@sortedteams.blank? %>
    <tr>
        <th><%= sortable "name" %></th>
        <th>Members</th>
        <th>Description</th>
        <th>Summary</th>
    </tr>
        <% @sortedteams.each do |rec| %>
        <tr>

          <td>
            <%= rec.name %>
          </td>

          <td>
          <% if !rec.members.blank? %>
            <%= rec.members %>
          <% else %>
            <%= '-' %>
          <% end %>
          </td>

          <td>
            <% if !rec.description.blank? %>
                <%= rec.description %>
            <% else %>
                <%= '-' %>
            <% end %>
          </td>

          <td>
            <% if !rec.summary.blank? %>
                <%= rec.summary %>
            <% else %>
                <%= '-' %>
            <% end %>
          </td>

        </tr>
        <% end %>

    <% else %>
    <tr>
        <td>Team(s) report unavailable.</td>
    </tr>
    <% end %>
    </table>
    <hr/>
    <p><b>Judges Ratings - Averaged out</b></p>

          <table border="1" class="judge_t" cellspacing="0" cellpadding="5">
            <th>Team</th>

            <% if !Category.first.nil? %>
                <th><%= Category.first.name %></th>
            <% end %>

            <% if !Category.second.nil? %>
                <th><%= Category.second.name %></th>
            <% end %>

            <% if !Category.third.nil? %>
                <th><%= Category.third.name %></th>
            <% end %>

            <% if !Category.fourth.nil? %>
                <th><%= Category.fourth.name %></th>
            <% end %>

            <% if !Category.fifth.nil? %>
                <th><%= Category.fifth.name %></th>
            <% end %>

            <th>Overall</th>

            <th>Comment</th>

            <% Team.all.each do |trec| %>
                <tr>
                  <td><%= trec.name %></td>
                  <% Rating.all.each do |rec| %>
                      <% if trec.id.eql?(rec.tid) %>
                          <% if !rec.jid.nil? %>

                              <% session[:currentRecord] = rec.tid %>

                              <% if !rec.cat1.blank? %>
                                  <% @cat1rating = @cat1rating + rec.cat1.to_f %>
                                  <% @cat1users = @cat1users + 1 %>
                              <% end %>

                              <% if !rec.cat2.blank? %>
                                  <% @cat2rating = @cat2rating + rec.cat2.to_f %>
                                  <% @cat2users = @cat2users + 1 %>
                              <% end %>

                              <% if !rec.cat3.blank? %>
                                  <% @cat3rating = @cat3rating + rec.cat3.to_f %>
                                  <% @cat3users = @cat3users + 1 %>
                              <% end %>

                              <% if !rec.cat4.blank? %>
                                  <% @cat4rating = @cat4rating + rec.cat4.to_f %>
                                  <% @cat4users = @cat4users + 1 %>
                              <% end %>

                              <% if !rec.cat5.blank? %>
                                  <% @cat5rating = @cat5rating + rec.cat5.to_f %>
                                  <% @cat5users = @cat5users + 1 %>
                              <% end %>

                              <% if !rec.overall.blank? %>
                                  <% @overallrating = @overallrating + rec.overall.to_f %>
                                  <% @overallusers = @overallusers + 1 %>
                              <% end %>

                          <% end %>
                      <% end %>
                  <% end %>

                  <% if !Category.first.nil? %>
                      <td>
                        <% if !@cat1users.eql?(0) %>
                            <%= number_with_precision(@cat1rating/@cat1users, precision: 2) %>
                        <% else %>
                            Not Available
                        <% end %>
                      </td>
                  <% end %>

                  <% if !Category.second.nil? %>
                      <td>
                        <% if !@cat2users.eql?(0) %>
                            <%= number_with_precision(@cat2rating/@cat2users, precision: 2) %>
                        <% else %>
                            Not Available
                        <% end %>
                      </td>
                  <% end %>

                  <% if !Category.third.nil? %>
                      <td>
                        <% if !@cat3users.eql?(0) %>
                            <%= number_with_precision(@cat3rating/@cat3users, precision: 2) %>
                        <% else %>
                            Not Available
                        <% end %>
                      </td>
                  <% end %>

                  <% if !Category.fourth.nil? %>
                      <td>
                        <% if !@cat4users.eql?(0) %>
                            <%= number_with_precision(@cat4rating/@cat4users, precision: 2) %>
                        <% else %>
                            Not Available
                        <% end %>
                      </td>
                  <% end %>

                  <% if !Category.fifth.nil? %>
                      <td>
                        <% if !@cat5users.eql?(0) %>
                            <%= number_with_precision(@cat5rating/@cat5users, precision: 2) %>
                        <% else %>
                            Not Available
                        <% end %>
                      </td>
                  <% end %>

                  <td>
                    <% if !@overallusers.eql?(0) %>
                        <%= number_with_precision(@overallrating/@overallusers, precision: 2) %>
                    <% else %>
                        Not Available
                    <% end %>
                  </td>

                  <% @cat1rating = @cat2rating = @cat3rating = @cat4rating = @cat5rating = @overallrating = 0 %>
                  <% @cat1users = @cat2users = @cat3users = @cat4users = @cat5users = @overallusers = 0 %>

                  <% if !session[:currentRecord].nil? %>
                  <td>
                    <table border="1" cellpadding="10" cellspacing="0">
                      <tr>
                        <th>Judge</th><th>Comments</th>
                      </tr>

                      <% Rating.all.each do |f| %>
                          <% if f.tid.eql?(session[:currentRecord]) %>
                              <% if !f.jid.nil? %>
                              <tr>
                                <td><%= Judge.all.find(f.jid).name %></td>
                                <td><%= f.comment %></td>
                              </tr>
                              <% end %>
                          <% end %>
                      <% end %>

                      <% session[:currentRecord] = nil %>

                    </table>
                  </td>
                  <% else %>
                    <td>Not Available</td>
                  <% end %>
                </tr>
            <% end %>
          </table>
    <hr/>

    <p><b>Crowd Ratings - Averaged out</b></p>


        <table border="1" class="judge_t" cellpadding="5" cellspacing="0">
        <th>Team</th>

        <% if !Category.first.nil? %>
            <th><%= Category.first.name %></th>
        <% end %>

        <% if !Category.second.nil? %>
            <th><%= Category.second.name %></th>
        <% end %>

        <% if !Category.third.nil? %>
            <th><%= Category.third.name %></th>
        <% end %>

        <% if !Category.fourth.nil? %>
            <th><%= Category.fourth.name %></th>
        <% end %>

        <% if !Category.fifth.nil? %>
            <th><%= Category.fifth.name %></th>
        <% end %>

        <th>Overall</th>

        <% Team.all.each do |trec| %>
            <tr>
              <td><%= trec.name %></td>
              <% Rating.all.each do |rec| %>
                  <% if trec.id.eql?(rec.tid) %>
                      <% if rec.jid.nil? %>

                          <% if !rec.cat1.blank? %>
                              <% @cat1rating = @cat1rating + rec.cat1.to_f %>
                              <% @cat1users = @cat1users + 1 %>
                          <% end %>

                          <% if !rec.cat2.blank? %>
                              <% @cat2rating = @cat2rating + rec.cat2.to_f %>
                              <% @cat2users = @cat2users + 1 %>
                          <% end %>

                          <% if !rec.cat3.blank? %>
                              <% @cat3rating = @cat3rating + rec.cat3.to_f %>
                              <% @cat3users = @cat3users + 1 %>
                          <% end %>

                          <% if !rec.cat4.blank? %>
                              <% @cat4rating = @cat4rating + rec.cat4.to_f %>
                              <% @cat4users = @cat4users + 1 %>
                          <% end %>

                          <% if !rec.cat5.blank? %>
                              <% @cat5rating = @cat5rating + rec.cat5.to_f %>
                              <% @cat5users = @cat5users + 1 %>
                          <% end %>

                          <% if !rec.overall.blank? %>
                              <% @overallrating = @overallrating + rec.overall.to_f %>
                              <% @overallusers = @overallusers + 1 %>
                          <% end %>

                      <% end %>
                  <% end %>
              <% end %>

              <% if !Category.first.nil? %>
                  <td>
                    <% if !@cat1users.eql?(0) %>
                        <%= number_with_precision(@cat1rating/@cat1users, precision: 2) %>
                    <% else %>
                        Not Available
                    <% end %>
                  </td>
              <% end %>

              <% if !Category.second.nil? %>
                  <td>
                    <% if !@cat2users.eql?(0) %>
                        <%= number_with_precision(@cat2rating/@cat2users, precision: 2) %>
                    <% else %>
                        Not Available
                    <% end %>
                  </td>
              <% end %>

              <% if !Category.third.nil? %>
                  <td>
                    <% if !@cat3users.eql?(0) %>
                        <%= number_with_precision(@cat3rating/@cat3users, precision: 2) %>
                    <% else %>
                        Not Available
                    <% end %>
                  </td>
              <% end %>

              <% if !Category.fourth.nil? %>
                  <td>
                    <% if !@cat4users.eql?(0) %>
                        <%= number_with_precision(@cat4rating/@cat4users, precision: 2) %>
                    <% else %>
                        Not Available
                    <% end %>
                  </td>
              <% end %>

              <% if !Category.fifth.nil? %>
                  <td>
                    <% if !@cat5users.eql?(0) %>
                        <%= number_with_precision(@cat5rating/@cat5users, precision: 2) %>
                    <% else %>
                        Not Available
                    <% end %>
                  </td>
              <% end %>

              <td>
                <% if !@overallusers.eql?(0) %>
                    <%= number_with_precision(@overallrating/@overallusers, precision: 2) %>
                <% else %>
                    Not Available
                <% end %>
              </td>

              <% @cat1rating = @cat2rating = @cat3rating = @cat4rating = @cat5rating = @overallrating = 0 %>
              <% @cat1users = @cat2users = @cat3users = @cat4users = @cat5users = @overallusers = 0 %>
            </tr>
        <% end %>
        </table>


    </td>
    </tr>
    </table>
    </td>
    </tr>





</table>
<table border="0" cellpadding="0" cellspacing="0" style="background-color: #313845; height: 30px; width:100%;"></table>



