<table border="1" width="100%">
  <tr>
    <td width="15%">
      <h2>Team List</h2>
    </td>
    <td width="85%" align="right">
    </td>
  </tr>
<tr>
  <td width="15%" valign="top"><%= render :partial => '/adminlinks' %></td>
  <td width="85%" style="padding-left: 20px;">
        <% if @teams.blank? %>
            <p>There are no teams currently in the system.</p>
        <% else %>
            <p>These are the current teams in our system.</p>
            <table border="1" cellpadding="5" cellspacing="0">
              <% @teams.each do |c| %>
                  <tr>
                    <td><%= c.name %></td>
                    <td><%= c.members %></td>
                    <td><%= link_to 'Show', {:action => 'show', :id => c.id} %></td>
                    <td><%= link_to 'Edit', {:action => 'edit', :id => c.id} %></td>
                    <td><%= link_to 'Delete', {:action => 'destroy', :id => c.id}, :confirm => 'Are you sure you want to delete this item?' %></td>
                  </tr>
              <% end %>
            </table>
        <% end %>
        <p class="prepare_team"><%= link_to 'Prepare new team', {:action => 'new' } %></p>
  </td>
</tr>
</table>