<h1>Team#new</h1>

<%= form_for :team, url:team_create_path  do |f| %>

    <p>Name</p>
    <p><%= f.text_field :name %></p>

    <p>Members</p>
    <p><%= f.text_area :members %></p>

    <p>Description</p>
    <p><%= f.text_area :description %></p>

    <p>Summary</p>
    <p><%= f.text_area :summary %></p>

    <p>Screenshot(s) Url</p>
    <p><%= f.text_area :screenshot %></p>

    <%= f.submit %>

<% end %>

<%= link_to 'Back', {:action => 'list'} %>