

<% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, 'Error') %></h2>
      <ul>
        <% @team.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>

<% else %>

    <% if session[:insert] %>
        <script>alert('Rating successfully saved.')</script>
        <% session[:insert] = false %>
    <% end %>

    <% if session[:modify] %>
        <script>alert('Rating successfully modified.')</script>
        <% session[:modify] = false %>
    <% end %>

    <table border="0" width="100%" style="background-color: #313845;">
      <tr>
        <td width="10%">
          <img src="/assets/logo.png" />
        </td>
        <td class="judge"><table border="0" cellpadding="0" cellspacing="0"><tr><td>
          <% if session[:user_id].nil? %>
              <%= link_to 'Login as Judge', {:controller => 'home', :action => 'index'} %>
          <% else %>
              <img src="/assets/Login_icon.png" style="padding-left: 15px;" alt="Logged in as judge <%= session[:user_name] %>" title="Logged in as judge <%= session[:user_name] %>" />
          <% end %>
        </td>
        </tr>
          <% if !session[:user_id].nil? %>
              <tr>
                <td>
                  <%= link_to 'Logout', {:controller => 'home', :action => 'logout'} %>
                </td>

              </tr>
          <% end %>
        </table>
        </td>
      </tr>
    </table>
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="15%" valign="top" style="background-color: #ffffff; height: 200px; overflow-y: scroll !important;">
          <%= render :partial => '/links', :object => @teams %>
          <% if !session[:user_id].nil? %>
        <table width="100%" cellspacing="0" cellpadding="0" border="0" style="margin-top: 10px; border-top: 3px solid #313845;">
            <br>
          <tr>

          <td style="background-color: #999999; color:#ffffff;">
            <%= link_to 'Team Report', :controller => 'rating', :action => 'report'  %>
          </td>

        </tr>
        </table>
    <% end %>
        </td>
        <td width="85%" style="background-color: #ffffff; color:#313845;">
          <h1><%= @team.name %></h1>
          <hr />
          <table border="0" cellpadding="5" cellspacing="0">
            <tr>
              <td>Members</td>
              <td><%= @team.members %></td>
            </tr>
            <tr>
              <td>Description</td>
              <td><%= @team.description %></td>
            </tr>
            <tr>
              <td>Summary</td>
              <td><%= @team.summary %></td>
            </tr>
            <tr>
				<% if @show_judge_report %>
              <td>Current rating</td>
              <td>
                <% if @current_team_rating.blank? %>
                    <p>Not Available</p>
                <% else %>
                    
                        <table class="judge_t" border="1" cellspacing="0" cellpadding="5" width="60%">
                      <tr>

                        <th>Judge</th>

                        <% if !Category.first.nil? %>
                            <th><%= Category.first.name %></th>
                        <% end %>

                        <% if !Category.second.nil? %>
                            <th><%= Category.second.name %></th>
                        <% end %>

                        <% if !Category.third.nil? %>
                            <th><%= Category.third.name %></th>
                        <% end %>

                        <% if !Category.fourth.nil? %>
                            <th><%= Category.fourth.name %></th>
                        <% end %>

                        <% if !Category.fifth.nil? %>
                            <th><%= Category.fifth.name %></th>
                        <% end %>

                        <th>Overall</th>

                      </tr>
                    <% @ratings.each do |rec| %>
                        <% if rec.tid.eql?(@team.id) && !rec.jid.nil? %>
                            <tr>

                              <% Judge.all.each do |judge| %>
                                  <% if judge.id.eql?(rec.jid) %>
                                      <td><%= judge.name %></td>
                                  <% end %>
                              <% end %>

                              <% if !Category.first.nil? %>
                                <td><%= rec.cat1 %></td>
                              <% end %>
                              <% if !Category.second.nil? %>
                                <td><%= rec.cat2 %></td>
                              <% end %>
                              <% if !Category.third.nil? %>
                                <td><%= rec.cat3 %></td>
                              <% end %>
                              <% if !Category.fourth.nil? %>
                                <td><%= rec.cat4 %></td>
                              <% end %>
                              <% if !Category.fifth.nil? %>
                                <td><%= rec.cat5 %></td>
                              <% end %>
                              <td><%= rec.overall %></td>

                            </tr>
                        <% end %>
                      <% end %>
                    </table>
                <% end %>
              </td>
			  <% else %>
                        <%= 'Judge(s) rating(s) unavailable' %>
                    <% end %>
            </tr>
            <tr>
              <td>Average crowd rating</td>
              <td>
                <% if @current_team_rating.blank? %>
                    <p>Not Available</p>
                <% else %>
                    <% if @show_crowd_report %>
                        <table class="anonymous" border="1" cellpadding="5" cellspacing="0">
                      <tr>
                        <% if !Category.first.nil? %>
                            <th><%= Category.first.name %></th>
                        <% end %>
                        <% if !Category.second.nil? %>
                            <th><%= Category.second.name %></th>
                        <% end %>
                        <% if !Category.third.nil? %>
                            <th><%= Category.third.name %></th>
                        <% end %>
                        <% if !Category.fourth.nil? %>
                            <th><%= Category.fourth.name %></th>
                        <% end %>
                        <% if !Category.fifth.nil? %>
                            <th><%= Category.fifth.name %></th>
                        <% end %>
                        <th>Overall</th>
                      </tr>
                      <tr>
                        <% if !Category.first.nil? %>
                        <td>
                          <% if !@cat1users.eql?(0) %>
                            <%= number_with_precision(@cat1rating/@cat1users, precision: 2) %>
                          <% else %>
                            Not Available
                          <% end %>
                        </td>
                        <% end %>

                        <% if !Category.second.nil? %>
                        <td>
                          <% if !@cat2users.eql?(0) %>
                            <%= number_with_precision(@cat2rating/@cat2users, precision: 2) %>
                          <% else %>
                              Not Available
                          <% end %>
                        </td>
                        <% end %>

                        <% if !Category.third.nil? %>
                        <td>
                          <% if !@cat3users.eql?(0) %>
                            <%= number_with_precision(@cat3rating/@cat3users, precision: 2) %>
                          <% else %>
                              Not Available
                          <% end %>
                        </td>
                        <% end %>

                        <% if !Category.fourth.nil? %>
                        <td>
                          <% if !@cat4users.eql?(0) %>
                            <%= number_with_precision(@cat4rating/@cat4users, precision: 2) %>
                          <% else %>
                              Not Available
                          <% end %>
                        </td>
                        <% end %>

                        <% if !Category.fifth.nil? %>
                        <td>
                          <% if !@cat5users.eql?(0) %>
                            <%= number_with_precision(@cat5rating/@cat5users, precision: 2) %>
                          <% else %>
                              Not Available
                          <% end %>
                        </td>
                        <% end %>

                        <td>
                          <% if !@overallusers.eql?(0) %>
                            <%= number_with_precision(@overallrating/@overallusers, precision: 2) %>
                          <% else %>
                              Not Available
                          <% end %>
                        </td>

                      </tr>
                    </table>
                    <% else %>
                        <p>Anonymous rating(s) unavailable</p>
                    <% end %>
                <% end %>

              </td>
            </tr>
            <tr>
              <td>Rate hack</td>
              <td width="80%">

                <%= form_for :team_rating, url:rating_create_path  do |f| %>

                    <p>Rate (1-worst to 5-best)</p>

                    <% if !Category.first.nil? %>
                        <p><%= f.hidden_field :cat1, :id => 'cat1' %></p>
                        <p style="width:20%;float: left;"><%= Category.first.name %> </p> <p style="width:78%;float: left;"><img id="Rating11" class="Empty" width="20px" height="20px" onclick="DecideRating(1, 'cat1');" /> <img id="Rating21" class="Empty" width="20px" height="20px" onclick="DecideRating(2, 'cat1');" /> <img id="Rating31" class="Empty" width="20px" height="20px" onclick="DecideRating(3, 'cat1');" /> <img id="Rating41" class="Empty" width="20px" height="20px" onclick="DecideRating(4, 'cat1');" /> <img id="Rating51" class="Empty" width="20px" height="20px" onclick="DecideRating(5, 'cat1');" /></p>
                    <% end %>

                    <% if !Category.second.nil? %>
                        <p><%= f.hidden_field :cat2, :id => 'cat2'  %></p>
                        <p style="width:20%; float: left;"><%= Category.second.name %> </p> <p style="width:78%;float: left;"><img id="Rating12"
                                                                         class="Empty" width="20px" height="20px" onclick="DecideRating(1, 'cat2');" /> <img id="Rating22" class="Empty" width="20px"
                                                                                                                    height="20px" onclick="DecideRating(2, 'cat2');" /> <img id="Rating32" class="Empty" width="20px" height="20px" onclick="DecideRating(3, 'cat2');" /> <img
                        id="Rating42" class="Empty" width="20px" height="20px" onclick="DecideRating(4, 'cat2');" /> <img id="Rating52" class="Empty"
                                                                                         width="20px" height="20px" onclick="DecideRating(5, 'cat2');" /></p>
                    <% end %>

                    <% if !Category.third.nil? %>
                        <p><%= f.hidden_field :cat3, :id => 'cat3' %></p>
                        <p style="width:20%; float: left;"><%= Category.third.name %> </p> <p style="width:78%;float: left;"><img id="Rating13"
                                                                        class="Empty" width="20px" height="20px" onclick="DecideRating(1, 'cat3');" /> <img id="Rating23" class="Empty" width="20px"
                                                                                                                   height="20px" onclick="DecideRating(2,
                                'cat3');" /> <img id="Rating33" class="Empty" width="20px" height="20px" onclick="DecideRating(3, 'cat3');" /> <img
                        id="Rating43" class="Empty" width="20px" height="20px" onclick="DecideRating(4, 'cat3');" /> <img id="Rating53" class="Empty" width="20px" height="20px" onclick="DecideRating(5, 'cat3');" /></p>
                    <% end %>

                    <% if !Category.fourth.nil? %>
                        <p><%= f.hidden_field :cat4, :id => 'cat4' %></p>
                        <p style="width:20%; float: left;"><%= Category.fourth.name %> </p> <p style="width:78%;float: left;"><img id="Rating14"
                                                                         class="Empty" width="20px" height="20px" onclick="DecideRating(1, 'cat4');" /> <img id="Rating24" class="Empty" width="20px"
                                                                                                                    height="20px" onclick="DecideRating(2, 'cat4');" /> <img id="Rating34" class="Empty" width="20px" height="20px" onclick="DecideRating(3, 'cat4');" /> <img
                        id="Rating44" class="Empty" width="20px" height="20px" onclick="DecideRating(4, 'cat4');" /> <img id="Rating54" class="Empty"
                                                                                         width="20px" height="20px" onclick="DecideRating(5, 'cat4');" /></p>
                    <% end %>

                    <% if !Category.fifth.nil? %>
                        <p><%= f.hidden_field :cat5, :id => 'cat5' %></p>
                        <p style="width:20%; float: left;"><%= Category.fifth.name %></p><p style="width:78%;float: left;"><img id="Rating15" class="Empty" width="20px" height="20px" onclick="DecideRating(1, 'cat5');" /> <img id="Rating25" class="Empty" width="20px" height="20px" onclick="DecideRating(2,'cat5');" /> <img id="Rating35" class="Empty" width="20px" height="20px" onclick="DecideRating(3, 'cat5');" /> <img id="Rating45" class="Empty" width="20px" height="20px" onclick="DecideRating(4, 'cat5');" /> <img id="Rating55" class="Empty" width="20px" height="20px" onclick="DecideRating(5, 'cat5');" /></p>
                    <% end %>

                    <p><%= f.hidden_field :overall, :id => 'overall' %></p>
                    <p style="width:20%; float: left;">Overall</p> <p style="width:78%;float: left;"><img id="Rating16" class="Empty" width="20px" height="20px" onclick="DecideRating(1, 'overall');" /> <img id="Rating26" class="Empty" width="20px" height="20px" onclick="DecideRating(2, 'overall');" /> <img id="Rating36" class="Empty" width="20px" height="20px" onclick="DecideRating(3, 'overall');" /> <img id="Rating46" class="Empty" width="20px" height="20px" onclick="DecideRating(4, 'overall');" /> <img id="Rating56" class="Empty" width="20px" height="20px" onclick="DecideRating(5, 'overall');" /></p>

                    <% if !session[:user_id].nil? %>
                        <p style="width: 20%; float: left; padding-top: 20px;">Comment</p><p style="width:78%;float: left; vertical-align: middle;"><%= f.text_area :comment, :id => "comments_area" %></p>
                    <% end %>

                    <p><%= f.hidden_field :tid, { :value => @team.id} %></p>

                    <% session[:team_id] = @team.id %>

                    <% if !session[:user_id].nil? %>
                        <p><%= f.hidden_field :jid, { :value => session[:user_id]} %></p>
                    <% end %>

                    <%= f.submit %>
                <% end %>

              </td>
            </tr>
            <tr>
              <td>Comments</td>
              <% if !session[:user_id].nil? %>
              <td>
                <table border="1" cellspacing="0" cellpadding="10">
                <% Rating.all.each do |f| %>
                  <% if f.tid.eql?(@team.id) && !f.jid.nil? %>
                      <tr>
                        <td width="18%"><b><%= Judge.all.find(f.jid).name %>: </b></td> <td><%= f.comment.gsub(/\n/, '<br />').html_safe() %></td>
                      </tr>
                  <% end %>
                <% end %>
                </table>
              </td>
              <% else %>
              <td>Not Available</td>
              <% end %>
            </tr>
          </table>
        </td>

      </tr>


    </table>



    </table>

<% end %>
<table border="0" cellpadding="0" cellspacing="0" style="background-color: #313845; height: 30px; width:100%; padding:0px 10px; font-size: 11px;">
  <tbody><tr>
    <td>© 2014 Move, Inc. All rights reserved.</td>
  </tr>
  </tbody></table>


