

<% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, 'Error') %></h2>
      <ul>
        <% @team.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>

<% else %>

    <% if session[:insert] %>
        <script>alert('Rating successfully saved.')</script>
        <% session[:insert] = false %>
    <% end %>

    <% if session[:modify] %>
        <script>alert('Rating successfully modified.')</script>
        <% session[:modify] = false %>
    <% end %>

    <table border="1" width="100%">
      <tr>
        <td width="10%">
          <img src="/assets/Move-header.jpg" style="margin-top: 25px;" width="100%" height="75%" />
          <h2>Team List</h2>
        </td>
        <td width="90%">
          <% if session[:user_id].nil? %>
              <%= link_to 'Login as Judge', {:controller => 'home', :action => 'index'} %>
          <% else %>
              'Logged in as judge:' <%= session[:user_name] %>
          <% end %>
        </td>
      </tr>

      <tr>
        <td width="10%">
          <%= render :partial => '/links', :object => @teams %>
        </td>
        <td width="90%">
          <h1><%= @team.name %></h1>
          <hr />
          <table border="1">
            <tr>
              <td>Members</td>
              <td><%= @team.members %></td>
            </tr>
            <tr>
              <td>Description</td>
              <td><%= @team.description %></td>
            </tr>
            <tr>
              <td>Summary</td>
              <td><%= @team.summary %></td>
            </tr>
            <tr>
              <td>Current Rating(s)</td>
              <td>
                <% if @current_team_rating.blank? %>
                    <p>Not Available</p>
                <% else %>
                    <% if @show_judge_report %>
                        <table class="judge" border="1">
                      <tr>

                        <% if !Category.first.nil? %>
                            <th>Category 1 (<%= Category.first.name %>)</th>
                        <% end %>

                        <% if !Category.second.nil? %>
                            <th>Category 2 (<%= Category.second.name %>)</th>
                        <% end %>

                        <% if !Category.third.nil? %>
                            <th>Category 3 (<%= Category.third.name %>)</th>
                        <% end %>

                        <% if !Category.fourth.nil? %>
                            <th>Category 4 (<%= Category.fourth.name %>)</th>
                        <% end %>

                        <% if !Category.fifth.nil? %>
                            <th>Category 5 (<%= Category.fifth.name %>)</th>
                        <% end %>

                        <th>Overall</th>
                        <th>Comment</th>
                        <th>Judge (if any)</th>

                      </tr>
                    <% @ratings.each do |rec| %>
                        <% if rec.tid.eql?(@team.id) && !rec.jid.nil? %>
                            <tr>
                              <% if !Category.first.nil? %>
                                <td><%= rec.cat1 %></td>
                              <% end %>
                              <% if !Category.second.nil? %>
                                <td><%= rec.cat2 %></td>
                              <% end %>
                              <% if !Category.third.nil? %>
                                <td><%= rec.cat3 %></td>
                              <% end %>
                              <% if !Category.fourth.nil? %>
                                <td><%= rec.cat4 %></td>
                              <% end %>
                              <% if !Category.fifth.nil? %>
                                <td><%= rec.cat5 %></td>
                              <% end %>
                              <td><%= rec.overall %></td>
                              <% if !session[:user_id].nil? %>
                                <td><%= rec.comment %></td>
                              <% else %>
                                <td>Not available</td>
                              <% end %>

                              <% Judge.all.each do |judge| %>
                                <% if judge.id.eql?(rec.jid) %>
                                  <td><%= judge.name %></td>
                                <% end %>
                              <% end %>
                            </tr>
                        <% end %>
                      <% end %>
                    </table>
                    <% else %>
                        <%= 'Judge(s) rating(s) unavailable' %>
                    <% end %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td>Anonymous Rating(s) - Averaged out</td>
              <td>
                <% if @current_team_rating.blank? %>
                    <p>Not Available</p>
                <% else %>
                    <% if @show_crowd_report %>
                        <table class="anonymous" border="1">
                      <tr>
                        <% if !Category.first.nil? %>
                            <th>Category 1 (<%= Category.first.name %>)</th>
                        <% end %>
                        <% if !Category.second.nil? %>
                            <th>Category 2 (<%= Category.second.name %>)</th>
                        <% end %>
                        <% if !Category.third.nil? %>
                            <th>Category 3 (<%= Category.third.name %>)</th>
                        <% end %>
                        <% if !Category.fourth.nil? %>
                            <th>Category 4 (<%= Category.fourth.name %>)</th>
                        <% end %>
                        <% if !Category.fifth.nil? %>
                            <th>Category 5 (<%= Category.fifth.name %>)</th>
                        <% end %>
                        <th>Overall</th>
                      </tr>
                      <tr>
                        <% if !Category.first.nil? %>
                        <td>
                          <% if !@cat1users.eql?(0) %>
                            <%= @cat1rating/@cat1users %>
                          <% else %>
                            Not Available
                          <% end %>
                        </td>
                        <% end %>

                        <% if !Category.second.nil? %>
                        <td>
                          <% if !@cat2users.eql?(0) %>
                            <%= @cat2rating/@cat2users %>
                          <% else %>
                              Not Available
                          <% end %>
                        </td>
                        <% end %>

                        <% if !Category.third.nil? %>
                        <td>
                          <% if !@cat3users.eql?(0) %>
                            <%= @cat3rating/@cat3users %>
                          <% else %>
                              Not Available
                          <% end %>
                        </td>
                        <% end %>

                        <% if !Category.fourth.nil? %>
                        <td>
                          <% if !@cat4users.eql?(0) %>
                            <%= @cat4rating/@cat4users %>
                          <% else %>
                              Not Available
                          <% end %>
                        </td>
                        <% end %>

                        <% if !Category.fifth.nil? %>
                        <td>
                          <% if !@cat5users.eql?(0) %>
                            <%= @cat5rating/@cat5users %>
                          <% else %>
                              Not Available
                          <% end %>
                        </td>
                        <% end %>

                        <td>
                          <% if !@overallusers.eql?(0) %>
                            <%= @overallrating/@overallusers %>
                          <% else %>
                              Not Available
                          <% end %>
                        </td>

                      </tr>
                    </table>
                    <% else %>
                        <p>Anonymous rating(s) unavailable</p>
                    <% end %>
                <% end %>

              </td>
            </tr>
            <tr>
              <td>Rate Team</td>
              <td>

                <%= form_for :team_rating, url:rating_create_path  do |f| %>

                    <p>Rate (1-worst to 5-best)</p>

                    <% if !Category.first.nil? %>
                        <p><%= f.hidden_field :cat1, :id => 'cat1' %></p>
                        <p>Category 1 (<%= Category.first.name %>) <img id="Rating11"
                                                                        class="Empty" width="20px" height="20px" onmouseover="return DecideRating(1, 'cat1', 1);"
                                                                        onclick="DecideRating(1, 'cat1', 2);" /> <img id="Rating21" class="Empty" width="20px"
                                                                                                                   height="20px" onmouseover="return DecideRating(2, 'cat1', 1);" onclick="DecideRating(2,
                                'cat1', 2);" /> <img id="Rating31" class="Empty" width="20px" height="20px"
                                                  onmouseover="return DecideRating(3, 'cat1', 1);" onclick="DecideRating(3, 'cat1', 2);" /> <img
                        id="Rating41" class="Empty" width="20px" height="20px" onmouseover="return DecideRating
                                (4, 'cat1', 1);" onclick="DecideRating(4, 'cat1', 2);" /> <img id="Rating51" class="Empty"
                                                                                         width="20px" height="20px" onmouseover="return DecideRating(5, 'cat1', 1);"
                                                                                         onclick="DecideRating(5, 'cat1', 2);" /></p>
                        <hr/>
                    <% end %>

                    <% if !Category.second.nil? %>
                        <p><%= f.hidden_field :cat2, :id => 'cat2'  %></p>
                        <p>Category 2 (<%= Category.second.name %>) <img id="Rating12"
                                                                         class="Empty" width="20px" height="20px" onmouseover="return DecideRating(1, 'cat2', 1);"
                                                                         onclick="DecideRating(1, 'cat2', 2);" /> <img id="Rating22" class="Empty" width="20px"
                                                                                                                    height="20px" onmouseover="return DecideRating(2, 'cat2', 1);" onclick="DecideRating(2,
                                'cat2', 2);" /> <img id="Rating32" class="Empty" width="20px" height="20px"
                                                  onmouseover="return DecideRating(3, 'cat2', 1);" onclick="DecideRating(3, 'cat2', 2);" /> <img
                        id="Rating42" class="Empty" width="20px" height="20px" onmouseover="return DecideRating
                                (4, 'cat2', 1);" onclick="DecideRating(4, 'cat2', 2);" /> <img id="Rating52" class="Empty"
                                                                                         width="20px" height="20px" onmouseover="return DecideRating(5, 'cat2', 1);"
                                                                                         onclick="DecideRating(5, 'cat2', 2);" /></p>
                        <hr/>
                    <% end %>

                    <% if !Category.third.nil? %>
                        <p><%= f.hidden_field :cat3, :id => 'cat3' %></p>
                        <p>Category 3 (<%= Category.third.name %>) <img id="Rating13"
                                                                        class="Empty" width="20px" height="20px" onmouseover="return DecideRating(1, 'cat3', 1);"
                                                                        onclick="DecideRating(1, 'cat3', 2);" /> <img id="Rating23" class="Empty" width="20px"
                                                                                                                   height="20px" onmouseover="return DecideRating(2, 'cat3', 1);" onclick="DecideRating(2,
                                'cat3', 2);" /> <img id="Rating33" class="Empty" width="20px" height="20px"
                                                  onmouseover="return DecideRating(3, 'cat3', 1);" onclick="DecideRating(3, 'cat3', 2);" /> <img
                        id="Rating43" class="Empty" width="20px" height="20px" onmouseover="return DecideRating
                                (4, 'cat3', 1);" onclick="DecideRating(4, 'cat3', 2);" /> <img id="Rating53" class="Empty"
                                                                                         width="20px" height="20px" onmouseover="return DecideRating(5, 'cat3', 1);"
                                                                                         onclick="DecideRating(5, 'cat3', 2);" /></p>
                        <hr/>
                    <% end %>

                    <% if !Category.fourth.nil? %>
                        <p><%= f.hidden_field :cat4, :id => 'cat4' %></p>
                        <p>Category 4 (<%= Category.fourth.name %>) <img id="Rating14"
                                                                         class="Empty" width="20px" height="20px" onmouseover="return DecideRating(1, 'cat4', 1);"
                                                                         onclick="DecideRating(1, 'cat4', 2);" /> <img id="Rating24" class="Empty" width="20px"
                                                                                                                    height="20px" onmouseover="return DecideRating(2, 'cat4', 1);" onclick="DecideRating(2,
                                'cat4', 2);" /> <img id="Rating34" class="Empty" width="20px" height="20px"
                                                  onmouseover="return DecideRating(3, 'cat4', 1);" onclick="DecideRating(3, 'cat4', 2);" /> <img
                        id="Rating44" class="Empty" width="20px" height="20px" onmouseover="return DecideRating
                                (4, 'cat4', 1);" onclick="DecideRating(4, 'cat4', 2);" /> <img id="Rating54" class="Empty"
                                                                                         width="20px" height="20px" onmouseover="return DecideRating(5, 'cat4', 1);"
                                                                                         onclick="DecideRating(5, 'cat4', 2);" /></p>
                        <hr/>
                    <% end %>

                    <% if !Category.fifth.nil? %>
                        <p><%= f.hidden_field :cat5, :id => 'cat5' %></p>
                        <p>Category 5 (<%= Category.fifth.name %>) <img id="Rating15"
                                                                        class="Empty" width="20px" height="20px" onmouseover="return DecideRating(1, 'cat5', 1);"
                                                                        onclick="DecideRating(1, 'cat5', 2);" /> <img id="Rating25" class="Empty" width="20px" height="20px" onmouseover="return DecideRating(2, 'cat5', 1);" onclick="DecideRating(2,
                                'cat5', 2);" /> <img id="Rating35" class="Empty" width="20px" height="20px"
                                                  onmouseover="return DecideRating(3, 'cat5', 1);" onclick="DecideRating(3, 'cat5', 2);" /> <img
                        id="Rating45" class="Empty" width="20px" height="20px" onmouseover="return DecideRating
                                (4, 'cat5', 1);" onclick="DecideRating(4, 'cat5', 2);" /> <img id="Rating55" class="Empty"
                                                                                         width="20px" height="20px" onmouseover="return DecideRating(5, 'cat5', 1);"
                                                                                         onclick="DecideRating(5, 'cat5', 2);" /></p>
                        <hr/>
                    <% end %>

                    <p><%= f.hidden_field :overall, :id => 'overall' %></p>
                    <p>Overall <img id="Rating1" class="Empty" width="20px" height="20px" onmouseover="return DecideRating(1, 'overall', 1);" onclick="DecideRating(1, 'overall', 2);" /> <img id="Rating2" class="Empty" width="20px" height="20px" onmouseover="return DecideRating(2, 'overall', 1);" onclick="DecideRating(2, 'overall', 2);" /> <img id="Rating3" class="Empty" width="20px" height="20px" onmouseover="return DecideRating(3, 'overall', 1);" onclick="DecideRating(3, 'overall', 2);" /> <img id="Rating4" class="Empty" width="20px" height="20px" onmouseover="return DecideRating(4, 'overall', 1);" onclick="DecideRating(4, 'overall', 2);" /> <img id="Rating5" class="Empty" width="20px" height="20px" onmouseover="return DecideRating(5, 'overall', 1);" onclick="DecideRating(5, 'overall', 2);" /></p>
                    <hr/>

                    <% if !session[:user_id].nil? %>
                        <p>Comment <%= f.text_area :comment %></p>
                    <% end %>

                    <p><%= f.hidden_field :tid, { :value => @team.id} %></p>

                    <% session[:team_id] = @team.id %>

                    <% if !session[:user_id].nil? %>
                        <p><%= f.hidden_field :jid, { :value => session[:user_id]} %></p>
                    <% end %>
                    <%= f.submit %>
                <% end %>

              </td>
            </tr>
          </table>
        </td>

      </tr>

    <% if !session[:user_id].nil? %>
    <tr>
        <td width="10%">
            <%= link_to 'Team Report', :controller => 'rating', :action => 'report'  %>
        </td>
        <td width="90%">
        </td>
    </tr>
    <% end %>

    <% if !session[:user_id].nil? %>
    <tr>
        <td width="10%">
            <%= link_to 'Logout', {:controller => 'home', :action => 'logout'} %>
        </td>
        <td width="90%"></td>
    </tr>
    <% end %>

    </table>

<% end %>


