<table border="1" width="100%">
  <tr>
    <td width="10%">
      <h2>Edit Category</h2>
    </td>
    <td width="90%" align="right">
    </td>
  </tr>
  <tr>
    <td width="10%"><%= render :partial => '/adminlinks' %></td>
    <td width="90%">

        <%= form_tag :action => 'update', :id => @category, method: :post %>

        <table border="2">
          <tr>
            <td>Name</td>
            <td><%= text_field_tag('updatedname', @category.name) %></td>
          </tr>
        </table>

        <%= submit_tag 'Edit' %>

        <%= link_to 'Back', {:action => 'list'} %>


    </td>
  </tr>
</table>