<h1>Judge#edit</h1>

<%= form_tag :action => 'update', :id => @judge, method: :post %>

<table border="2">
    <tr>
        <td>Name</td>
        <td><%= text_field_tag('updatedname', @judge.name) %></td>
    </tr>
  <tr>
    <td>Password</td>
    <td><%= password_field_tag('updatedpassword', '') %></td>
  </tr>

</table>

<%= submit_tag 'Edit' %>

<%= link_to 'Back', {:action => 'list'} %>

