<table border="1" width="100%">
  <tr>
    <td width="10%">
      <h2>Judge List</h2>
    </td>
    <td width="90%" align="right">
    </td>
  </tr>
  <tr>
    <td width="10%"><%= render :partial => '/adminlinks' %></td>
    <td width="90%">

        <% if @judges.blank? %>
            <p>There are no judges currently in the system.</p>
        <% else %>
            <p>These are the current judges in our system.</p>
            <table border="2">
              <% @judges.each do |c| %>
                  <tr>
                    <td><%= c.name %></td>
                    <td><%= c.password %></td>
                    <td><%= link_to 'Show', {:action => 'show', :id => c.id} %></td>
                    <td><%= link_to 'Edit', {:action => 'edit', :id => c.id} %></td>
                    <td><%= link_to 'Delete', {:action => 'destroy', :id => c.id}, :confirm => 'Are you sure you want to delete this item?' %></td>
                  </tr>
              <% end %>
            </table>
        <% end %>

        <p><%= link_to 'Create new judge', {:action => 'new' } %></p>
    </td>
  </tr>
</table>